<% include ../partials/header %>
  <div class="container">
    <h2>New counter generated for <%= website %></h2>

    <p>Add this string to your webpage: <pre><code>&lt;img src="<%= fullUrl %>" style="display: none" /&gt;</code></pre></p>
    <p>To view your counter, use this code:  <%= viewKey %></p>
    <p>Enjoy and stay safe!</p>
  </div>

<% include ../partials/footer %>
